<div>
    <h1>Assembly Upload</h1>
    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Decompile">
        <div class="form-group">
            <div>
                <p>Assembly:</p>
                <input type="file" name="formFile" />
                <p>Type name:</p>
                <input type="text" name="typeName" />
            </div>
        </div>
        <div class="form-group">
            <div>
                <input type="submit" value="Decompile" />
            </div>
        </div>
    </form>
</div>
